
<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Saffron Digital :: Your Stage. Play. - HOME PAGE TEST</title>

<meta content="Saffron Digital" name="description">
<meta content="Saffron Digital, VoD, video on demand, video" name="keywords">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
    
<link href="/templates/css/reset.css" rel="stylesheet" type="text/css">
<link href="/templates/css/styles2.css" rel="stylesheet" type="text/css" media="screen">

<script src="/templates/js/jquery-1.7.2.min.js"></script>

<script type="text/javascript">
</script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">Saffron Digital</div>
            <div class="navWrap">
                <div class="mobiledd">
                    <ul>
                        <li><a href="#play" class="on">Products &amp; Services</a></li>
                        <li><a href="#inspire">History Timeline</a></li>
                        <li><a href="#discover">Team</a></li>
                        <li><a href="#talk">Careers</a></li>
                    </ul>
                </div>
                <ul class="contact">
                    <li><a href="#talk">Contact Us</a>
                        <div>
                            <h4>LONDON</h4>
                            <p>T : +44(0)20 7404 6333</p>
                            <p><a href="mailto:enquiries@saffrondigital.com">enquiries@saffrondigital.com</a></p>
                            
                            <h4>USA</h4>
                            <p>T : +1(424)204 9898</p>
                            <p><a href="mailto:enquiries@saffrondigital.com">enquiries@saffrondigital.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    
    <!-- begin products & services -->
    <section id="blog">
        <div class="contentArea">
            <br /><br />
            <header>
	            <h1><span>[title1]</span></h1>
            </header>
            [editable1]
            [module name="blog" /]
        </div>
    </section>
    <!-- end contact us -->
       
    <!-- begin footer -->
    <footer>
        <p>&copy; 2012 Saffron Digital</p>
    </footer>
    <!-- end footer -->
</body>

</html>
