
<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Saffron Digital :: Your Stage. Play. - HOME PAGE TEST</title>

<meta content="Saffron Digital" name="description">
<meta content="Saffron Digital, VoD, video on demand, video" name="keywords">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
    
<link href="/templates/css/reset.css" rel="stylesheet" type="text/css">
<link href="/templates/css/styles2.css" rel="stylesheet" type="text/css" media="screen">

<script src="/templates/js/jquery-1.7.2.min.js"></script>

<script type="text/javascript">
</script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">Saffron Digital</div>
            <div class="navWrap">
                <div class="mobiledd">
                    <ul>
                        <li><a href="#play" class="on">Products &amp; Services</a></li>
                        <li><a href="#inspire">History Timeline</a></li>
                        <li><a href="#discover">Team</a></li>
                        <li><a href="#talk">Careers</a></li>
                    </ul>
                </div>
                <ul class="contact">
                    <li><a href="#talk">Contact Us</a>
                        <div>
                            <h4>LONDON</h4>
                            <p>T : +44(0)20 7404 6333</p>
                            <p><a href="mailto:enquiries@saffrondigital.com">enquiries@saffrondigital.com</a></p>
                            
                            <h4>USA</h4>
                            <p>T : +1(424)204 9898</p>
                            <p><a href="mailto:enquiries@saffrondigital.com">enquiries@saffrondigital.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    
    <!-- begin products & services -->
    <section id="play">
    	<div class="contentArea">
        	<header>
	            <h1>Your Stage. <span>Play.</span></h1>
                <h2>Products and Services</h2>
            </header>
            <div id="videoContainer">
                
                <div id="videoCarousel">
                    <div class="video">here is a video</div>
                    <div class="video">here is a video</div>
                    <div class="video">here is a video</div>
                    <div class="video">here is a video</div>
                    <div class="video">here is a video</div>
                </div>
                
                <div class="controls">
                    <div class="prev">&lt; Previous</div>
                    <div class="pagination">
                        <ul>
                            <li class="on">1</li>
                            <li>[editable1]</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                        </ul>
                    </div>
                    <div class="next">Next &gt;</div>
                </div>
                
                <div class="videoDesc">
                    <h1>Video Title</h1>
                	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                </div>
            </div>
        </div>
            
        <div class="infographic"><img src="/templates/images/play_infographic.jpg" /></div>
    </section>
    <!-- end products & services -->
    
    <!-- begin history -->
    <section id="inspire">
    	<div class="contentArea">
            
        	<header>
	            <h1>Your Stage. <span>Inspire.</span></h1>
                <h2>History Timeline</h2>
            </header>
            
            <div class="filterWrap">
            	<div class="control prev">&lt; Previous</div>
                <div class="filters">
                    <ul>
                        <li class="on">2012</li>
                            <ul>
                                <li>Q2</li>
                                <li>Q1</li>
                            </ul>
                        <li>2011</li>
                        <li>2010</li>
                    </ul>
                </div>
                <div class="control next">Next &gt;</div>
            </div>
            
            <div id="timelineContainer">
            	<div class="col">
                	<div class="timeline">here is a timeline item - first item</div>
                    <div class="timeline rows-2">here is a timeline item</div>
                </div>
                <div class="col">
                	<div class="timeline">here is a timeline item</div>
                    <div class="timeline active">here is a timeline item - middle item</div>
                    <div class="timeline">here is a timeline item</div>
                </div>
                <div class="col">
                    <div class="timeline rows-2">here is a timeline item</div>
                	<div class="timeline">here is a timeline item - last item</div>
                </div>
                
                <div class="controls">
                    <div class="prev">&lt; Previous</div>
                    <div class="pagination">
                        <ul>
                            <li class="on">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                        </ul>
                    </div>
                    <div class="next">Next &gt;</div>
                </div>
            </div>
    	</div>
            
        <div class="infographic"><img src="/templates/images/inspire_infographic.jpg"></div>
    </section>
    <!-- end history -->
    
    <!-- begin team -->
    <section id="discover">
    	<div class="contentArea">
            
        	<header>
	            <h1>Your Stage. <span>Discover.</span></h1>
                <h2>Team</h2>
            </header>
            
            <div class="filterWrap">
            	<div class="control prev">&lt; Previous</div>
                <div class="filters">
                    <ul>
                        <li>Management</li>
                        <li class="on">Account Management</li>
                        <li>Design</li>
                        <li>Development</li>
                        <li>Finance</li>
                        <li>Human Resources</li>
                    </ul>
                </div>
                <div class="control next">Next &gt;</div>
            </div>
            
            <div id="teamContainer">
            	<div class="col">
                    <div class="team">here is a team member</div>
                    <div class="team">here is a team member</div>
                </div>
                <div class="col">
                    <div class="team">here is a team member center</div>
                    <div class="team active">here is a team member center</div>
                </div>
                <div class="col">
                    <div class="team">here is a team member</div>
                    <div class="team">here is a team member</div>
                </div>
                
                <div class="controls">
                    <div class="prev">&lt; Previous</div>
                    <div class="pagination">
                        <ul>
                            <li class="on">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                        </ul>
                    </div>
                    <div class="next">Next &gt;</div>
                </div>
            </div>
    	</div>
            
        <div class="infographic"><img src="/templates/images/discover_infographic.jpg"></div>
    </section>
    <!-- end team -->
    
    <!-- begin contact us -->
    <section id="talk">
    	<div class="contentArea">
            
        	<header>
	            <h1>Your Stage. <span>Talk.</span></h1>
                <h2>Careers</h2>
            </header>
            
            <section>
            	<header>
                    <h3 class="on">UK</h3>
                    <h3>USA</h3>
                </header>
                
                <div class="uk">
                	<div class="job">
                        <div class="info">
                            <div class="datePosted">26.06.2012</div>
                            <div class="jobTitle">Receptionist</div>
                            <div class="jobDesc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros...  <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="apply">Apply</div>
                    </div>
                	<div class="job">
                        <div class="info">
                            <div class="datePosted">26.06.2012</div>
                            <div class="jobTitle">Android Developer</div>
                            <div class="jobDesc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros...  <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="apply">Apply</div>
                    </div>
                    <div class="job">
                        <div class="info">
                            <div class="datePosted">26.06.2012</div>
                            <div class="jobTitle">QA Tester</div>
                            <div class="jobDesc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros...  <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="apply">Apply</div>
                    </div>
                </div>    
                <div class="usa">    
                	<div class="job">
                        <div class="info">
                            <div class="datePosted">26.06.2012</div>
                            <div class="jobTitle">Designer</div>
                            <div class="jobDesc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla, nunc sed pulvinar consequat, est massa lacinia leo, sed aliquam diam metus eget eros...  <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="apply">Apply</div>
                    </div>
                </div>
            </section>
            
        	<header>
	            <h1>Your Stage. <span>Talk.</span></h1>
                <h2>Contact Us</h2>
            </header>
            
            <section>
            	<header>
                    <h3 class="on">UK</h3>
                    <h3>USA</h3>
                </header>
                
                <div class="uk">
                    <div class="address">
                    	<div><a href="tel:+442074046333">Call us</a></div>
                        <p>+44 (0)20 7404 6333</p>
                        <div><a href="mailto:info@saffrondigital.com">Email us</a></div>
                        <p>info@saffrondigital.com</p>
                        <div><a href="https://maps.google.com/maps?q=25+Farringdon+Street,+London+EC4A+4AB,+United+Kingdom&hl=en&ll=51.515299,-0.10628&spn=0.010469,0.017552&sll=51.517778,-0.121726&sspn=0.083747,0.140419&oq=25+Farringdon+St+London+EC4A+4AB&t=m&hnear=25+Farringdon+St,+City+of+London,+London+EC4A,+United+Kingdom&z=16" target="_blank">Find us</a></div>
                        <p>Nexus - 2nd Floor<br />
                        25 Farringdon St<br />
                        London<br />
                        EC4A 4AB</p>
                    </div>
                    <div class="map">
                        MAP
                    </div>
                </div>
                
                <div class="usa">
                    <div class="address">
                    	<div><a href="tel:+14242049898">Call us</a></div>
                        <p>+1(424) 204-9898</p>
                        <div><a href="mailto:info@saffrondigital.com">Email us</a></div>
                        <p>info@saffrondigital.com</p>
                        <div><a href="https://maps.google.com/maps?q=8800+Wilshire+Blvd+Suite+205+Beverly+Hills+CA+90211&hl=en&ll=33.922851,-118.391418&spn=0.22335,0.280838&sll=51.515299,-0.10628&sspn=0.010469,0.017552&hnear=8800+Wilshire+Blvd+%23205,+Beverly+Hills,+California+90211&t=m&z=12" target="_blank">Find us</a></div>
                        <p>8800 Wilshire Blvd<br />
                        Suite 205<br />
                        Beverly Hills<br />
                        CA 90211</p>
                    </div>
                    <div class="map">
                        MAP
                    </div>
                </div>
            </section>
    	</div>
    </section>
    <!-- end contact us -->
       
    <!-- begin footer -->
    <footer>
        <p>&copy; 2012 Saffron Digital</p>
    </footer>
    <!-- end footer -->
</body>

</html>
