<div class="navi_bar" style="height:213px; background: url(/templates/images/about_us_hero.png) top no-repeat;"></div>

<div id="container">
  
<div class="navi_bar_place" style="margin-bottom:0px; background:url(/templates/images/404_top.png) top no-repeat;">
</div>
  <div class="mainContent_404" style="height:auto;">
  [editable1]
  </div>
  <div class="navi_bar_place_b"></div>
	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
    </div>
